* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}

body {
    --background-color: #ced9df;
    --text-color: black;
    --elements-color: #ebeff3;
    margin: 0;
    font-family: Nunito, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
}


main.dark,
.header-container.dark {
    --background-color: hsl(207, 26%, 17%); 
    --text-color: white;
    --elements-color: hsl(209, 23%, 22%);
}

main {
    color: var(--text-color);
    padding: 24px;
    min-height: calc(100vh - 73px);
    background-color: var(--background-color);
    position: relative;
}

a {
    text-decoration-line: none;
    color: inherit;
}

.header-container {
    position: sticky;
    top: 0;
    z-index: 1;
    box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.1);
    padding-inline: 24px;
    background-color: var(--elements-color);
    color: var(--text-color);
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin-inline: auto;
    height: 4rem;
}

.title {
    font-weight: 800;
}

.theme-changer {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.theme-changer .theme-icon-slider {
    display: inline-block;
    width: 70px;
    height: 30px;
    border-radius: 20px;
    overflow: hidden;
    /* background-color: rgb(189, 217, 232); */
    /* padding: 2px 8px; */
    object-fit: cover;
    position: relative;
}
.theme-changer .theme-icon-slider img{
    width: 100%;
    height: 100%;
}

.theme-changer .theme-icon-slider i{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(165%, -50%);
    width: 25px;
    height: 25px;
    background-color: #d0d0e0eb;
    border-radius: 15px;
    z-index: 5;
    transition: transform 0.4s ease-in-out;
}
.header-container.dark .theme-changer .theme-icon-slider i{
    transform: translate(20%, -50%);
    background-color: #111f46;
}



/*? countries-container */
.countries-container {
    max-width: 1200px;
    margin-top: 16px;
    display: flex;
    gap: 64px;
    flex-wrap: wrap;
    margin-inline: auto;
    justify-content: space-evenly;
    
}

.country-card {
    display: inline-block;
    width: 250px;
    border-radius: 8px;
    overflow: hidden;
    padding-bottom: 24px;
    box-shadow: 5px 5px 20px #00000046;
    box-shadow: 5px 5px 20px #00000046, 0 0 10px #b4cbd583;
    transition: transform 0.3s ease-in-out;
    background-image: var(--elements-color);
}

.country-card:hover {
    transform: scale(1.05);
    /* box-shadow: 0 0 16px 0px #7c7c7c33; */
}

.card-title {
    font-size: 24px;
    margin-block: 16px;
}

.card-text {
    padding-inline: 16px;
}

.card-text p {
    margin-block: 8px;
}

.country-card .flag-container {
    width: 100%;
    height: 150px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    overflow: hidden;
}
.country-card img {
    width: 100%;
    object-fit: cover;
    height: 100%;
}

/* ? styling Shimmer cards */

main.dark .shimmer-card {
    background-color: inherit;
}
.shimmer-card {
    width: 250px;
    box-shadow: 5px 5px 20px #00000046, 0 0 10px #b4cbd5cc;
    height: 330px;
    border-radius: 5px;
    overflow: hidden;
    background-color:#ced9df;
    opacity: 1;
    animation: shimmer-effects 1s infinite linear alternate;
}

@keyframes shimmer-effects {
    to {
        opacity: 0.3;
    }
}

.shimmer-card .img {
    width: 100%;
    height: 50%;
    object-fit: cover;
    box-shadow: 0 0 5px #b4cbd5cc, 0 0 3px #00000046;
}
.shimmer-card h3 {
    width: 75%;
    padding: 1rem;
    box-shadow: 0 0 5px #b4cbd5cc, 0 0 3px #00000046;
    margin: 1.5rem 0.5rem 1rem;
}

.shimmer-card p {
    width: 70%;
    padding: 0.6rem;
    margin: 0.5rem;
    border-radius: 5px;
    box-shadow: 0 0 5px #b4cbd5cc, 0 0 3px #00000046;
}

.shimmer-card p:last-child {
    width: 60%;
}
.shimmer-card p:nth-child(2n) {
    width: 50%;
}


@keyframes shimmer-effect {
    to {
        opacity: 1;
    }
}



.search-filter-container {
    max-width: 1200px;
    margin-inline: auto;
    margin-top: 16px;
    margin-bottom: 48px;
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.search-container {
    box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.15);
    max-width: 350px;
    width: 100%;
    border-radius: 4px;
    padding-left: 24px;
    color: #999;
    overflow: hidden;
    background-color: var(--elements-color);
    color: var(--text-color);
}


.search-container input {
    border: none;
    outline: none;
    padding: 16px;
    width: 90%;
    background-color: inherit;
    color: inherit;
}

.search-container input::placeholder {
    color: #999;
}

.filter-by-region {
    width: 250px;
    padding: 16px;
    box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    background-color: var(--elements-color);
    color: var(--text-color);
    cursor: pointer;
}


.error-page {
    display: grid;
    place-content: center;
    min-height: 50dvh;
    width: 100%;
    padding: 1rem;
}
.error-page h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}
.error-page h2.not-found {
    color: #d70d0d;
}


@media(max-width: 768px) {
    .title {
        font-size: 16px;
    }

    .header-content p {
        font-size: 14px;
    }

    .search-filter-container {
        flex-direction: column;
    }
    
}