@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;1,300;1,400&family=Nunito:wght@300;400;600;700;800;900&family=Russo+One&family=Spartan:wght@700;800;900&display=swap");
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #0e0a39;
  color: #fff;

  --text-clr: #f7f7f7;
  --input-bg-clr: #c2f8ae6c;
}

body {
  font-family:  "Nunito", sans-serif;
  margin: 0 32px;
}

main {
  max-width: 900px;
  margin-inline: auto;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
}


.expense-tracker {
  display: flex;
  /* align-items: center; */
  gap: 32px;
}

.expense-form {
  width: 100%;
}

.expense-table {
  width: 100%;
  border-collapse: collapse;
}

.expense-table select {
  font: inherit;
  width: 100%;
  border: none;
  outline: none;
  cursor: pointer;
}

.expense-table tr th,
.expense-table tr td {
  padding-left: 1rem;
  /* text-indent: 1rem; */
}

.title-column div,
.amount-column div {
  display: flex;
}

.expense-table .title-column .sort-title {
  margin: 0 5px 0 ;
  padding: 2px 4px;
  font-weight: 500;
  font-size: 0.7rem;
  border: 0.5px solid #c8c8c8;
  color: gold;
  border-radius: 5px;
  cursor: pointer;
}
.expense-table .title-column .sort-title:hover {
  transform: scale(0.95);
}
.expense-table .title-column .sort-title:active {
  box-shadow: 0 0 10px skyblue;
}

.title-column span,
.amount-column span {
  color: var(--text-clr);
  margin-right: auto;
}

.amount-column .arrow {
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
  margin: 0 5px 0 0;
  font-size: 1.25rem;
  font-weight: 700;
  color: gold;
}

.up-arrow {
  margin-left: auto;
}

.amount-column .arrow:hover {
  box-shadow: 0 0 10px #ebebeb;
}
.amount-column .arrow:active {
  transform: translateY(-4px);
}

.down-arrow {
  margin-left: 6px;
}

.down-arrow:active {
  transform: translateY(2px);
}

.expense-table th,
.expense-table td {
  border: 1px solid #444;
  text-align: left;
  padding: 4px 8px;
}

.input-container {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 0.5rem auto;
  box-shadow: 0 0 5px purple;
  border-radius: 5px;
  padding: 0.5rem 1rem;
}

.input-container label {
  /* font-size: 14px; */
  font-weight: 600;
  font-size: 18px;
}

.input-container input {
  height: 28px;
  font-family: inherit;
  background-color: var(--input-bg-clr);
  color: var(--text-clr);
  text-indent: 1rem;
}

.input-container select {
  padding: 0.5rem 1rem;
  background-color: var(--input-bg-clr);
  color: var(--text-clr);
}
.input-container select option{
  background-color: var(--input-bg-clr);
}


.error {
  color: red;
  margin: auto;
}

.add-btn.disable {
  opacity: 0.5;
  cursor: not-allowed;
}
.add-btn {
  width: 50%;
  max-width: 500px;
  font-size: 20px;
  border-radius: 5px;
  font-family: sans-serif;
  font-weight: 700;
  padding: 0.75rem 1rem;
  margin-top: 8px;
  opacity: 1;
  background-color: transparent;
  color: var(--text-clr);
  /* box-shadow: 0 0 10px 5px #d10bd1, 0 0 25px 10px  #31cddb; */
  position: relative;
  backdrop-filter: blur(20px);
  /* overflow: hidden; */
  cursor: pointer;
}

.add-btn::after {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 5px;
  background-image: linear-gradient(15deg, #8bdb8b, #2fdb0cdc);
  z-index: -1;
  transition: right 0.2s ease-in-out, left 0.2s ease-in-out;
}

.add-btn.add-btn.disable:hover::after {
  inset: 0;
}
.add-btn:hover::after {
  inset: 0 50%;
}
.add-btn.add-btn.disable:hover {
  outline: none;
}
.add-btn:hover {
  outline: 1px solid #7df86d;
}



.context-menu {
  background-color: white;
  padding: 0.5rem 0;
  border: 1px solid;
  position: absolute;
  display: none;
  color: #222;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
}

.context-menu div {
  padding: 0.25rem 1rem;
  cursor: pointer;
  font-weight: 600;
}

.context-menu div:hover {
  background-color: #ddd;
}

@media (max-width: 900px) {
  body {
      margin-inline: 16px;
  }

  .expense-tracker {
      flex-direction: column;
  }
}